<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h3><p th:text="'Admin page – ' + ${user.getUsername()}"/></h3>
<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <!--        <th>Password</th>-->
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getId()}">q</td>
        <td th:text="${user.getUsername()}">q</td>
        <!--        <td th:utext="${user.getPassword()}"></td>-->
        <td th:text="${user.getName()}">q</td>
        <td th:text="${user.getSurname()}">q</td>
        <td th:text="${user.getEmail()}">q</td>
        <td th:text="${user.getRoles()}">q</td>
        <td>
            <form th:action="@{/admin/edit/{id}(id=${user.getId()})}">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<br>
<hr>
<button>
    <a th:href="@{/user}">User info</a>
</button>
<input type="button" value="Create new user" onclick="window.location.href='admin/new'"/>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>