<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h2><p th:text="'Update user – ' + ${user.getUsername()}"></h2>
<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}"/>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}"/>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}"/>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/>
        </tr>
        <tr>
            <td>Roles:</td>
            <td>
                <input type="checkbox" name="roles" value="ROLE_USER"/> USER
                <input type="checkbox" name="roles" value="ROLE_ADMIN"/> ADMIN
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="OK"/>
</form>
<br>
<hr>
<button>
    <a th:href="@{/admin}">Admin page</a>
</button>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>