<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <p>
        <label for="username">User Name:</label>
        <input type="text" th:field="*{username}" id="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="text" th:field="*{password}" id="password">
    </p>
    <p>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name">
    </p>
    <p>
        <label for="surname">Surname:</label>
        <input type="text" th:field="*{surname}" id="surname">
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="text" th:field="*{email}" id="email">
    </p>
    <p>
        <input type="checkbox" name="roles" value="ROLE_USER"/> USER
        <input type="checkbox" name="roles" value="ROLE_ADMIN"/> ADMIN
        <input type="submit" value="OK"/>
    </p>
</form>
<hr/>
<h4>Authorization page :</h4>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<h1>User creating</h1>
<body>
<form th:method="PUT" th:action="@{/admin/new}" th:object="${user}">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}"/>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}"/>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}"/>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/>
        </tr>
        <tr>
            <td>Roles:</td>
            <td>
                <input type="checkbox" name="roles" value="ROLE_USER"/> USER
                <input type="checkbox" name="roles" value="ROLE_ADMIN"/> ADMIN
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="OK"/>
</form>
<br>
<hr>
<button>
    <a th:href="@{/admin}">Admin page</a>
</button>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>